.tasks-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.task-container {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}